---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getShops } from './ShopsService'
const pageTitle = "Shops Page"
const locals = Astro.locals

// Mock data for testing
const shops = [
    {id: 'shop01', title: 'Shop One', city: 'Dakar'},
    {id: 'shop02', title: 'Shop Two', city: 'Accra'},
    {id: 'shop03', title: 'Shop Three', city: 'Abidjan'},
    {id: 'shop04', title: 'Shop Four', city: 'Ouagadougou'},
    {id: 'shop05', title: 'Shop Five', city: 'Dakar'},
]

const PBshops  = await locals.pb.collection('shops').getFullList()
// The above gives the same results as below
const myshops = await getShops();

---
<BaseLayout pageTitle={pageTitle}>
    <div class="flex-container">
        {PBshops.map((shop) => (
            <div class="flex-item">
                <h2>{shop.title}</h2>
                <p>{shop.city}</p>
                <p>{shop.content}</p>
                
                <small>{shop.id}</small>
            </div>))
        }
    </div>    
</BaseLayout>
